body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

@media (max-width: 600px) {
  body {
    overflow: auto;
  }
  .swal2-toast-shown .swal2-container {
    margin-right: 0% !important;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.swal2-popup {
  max-height: 100px !important;
  width: 400px !important;
  background: none;
  box-shadow: none !important;
}

.swal2-toast-shown .swal2-container {
    width: 400px !important;
    margin-right: 5%;
}

.swal2-popup.swal2-toast {
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.swal2-popup.swal2-toast .swal2-html-container {
  font-size: 1.1em;
  font-family: 'Biotif';
  color: #333;
}

.toast {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  background-color: white;
  padding: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
}

@media (max-width: 600px) {
  .toast {
    min-width: 80%;
    max-width: 80%;
  }
}

.toastLeftBorder {
  flex: 1;
  max-width: 10px;
  min-width: 10px;
  border-radius: 8px 0 0 8px;
}

.toastMainText {
  flex-grow: 1;
  text-align: left;
  margin-left: 10px;
  color: #333;
}

.toastRightBorder {
  flex: 1;
  align-self: center;
  margin: 0 10px;
  max-width: 15px;
  min-width: 15px;
  color: #666;
  cursor: pointer;
}

/* Bordas coloridas à direita */
.toast::after {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 5px;
  border-radius: 0 8px 8px 0;
}

.success{
  border-left: 5px #0B9500 solid;
}

.error{
  border-left: 5px #FF0000 solid;
}

.warning{
  border-left: 5px #0B9500 solid;
}

.info{
  border-left: 5px #2DCAFC solid;
}
